#title {
    text-align: center;
    font-size: 35px;
    margin-top: .1em;
}

.label {
    font-size: larger;
    font-weight: bold;
    text-align: left;
    margin-top: 1.5em;
    margin-left: 2.5%;
}

.input {
    text-align: left;
    padding-left: 15px;
    width: 95%;
    margin-left: 2.5%;
    height: 40px;
    border-radius: 10px;
}

#textarea {
    height: 500px;
}

#buttons {
    width: 100%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

#save {
    margin-right: 15px;
}

.btn {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid gray;
}
