<?xml version="1.0" encoding="utf-8"?>
<ArrayOfAITag xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AITag>
    <Id>2</Id>
    <Description>Description</Description>
    <IsScanning>false</IsScanning>
    <ScanTime>0</ScanTime>
    <Driver>SIM</Driver>
    <LowLimit>0</LowLimit>
    <HighLimit>0</HighLimit>
  </AITag>
</ArrayOfAITag>