#add-tag {
    text-align: right;
    width: 100%;
    padding-right: 1em;
    font-size: large;

}

#add-tag:hover {
    cursor: pointer;
}

#dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#dropdown-tags {
    list-style: none;
    background-color: #d8d8d8;
    border-radius: 8px;
    padding: 1em;
}

.tag {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #c3c2c2;
}

.bottom-margin {
    margin-bottom: .5em;
}

.tag:hover {
    cursor: pointer;
    background-color: #E8E4E4;
}