#add-tag {
    text-align: right;
    width: 100%;
    padding-right: 1em;
    font-size: large;
}

#add-tag:hover {
    cursor: pointer;
}

#dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

#dropdown-tags {
    list-style: none;
    background-color: #d8d8d8;
    border-radius: 8px;
    padding: 1em;
}

.tag {
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border-bottom: 1px solid #c3c2c2;
}

.bottom-margin {
    margin-bottom: .5em;
}

.tag:hover {
    cursor: pointer;
    background-color: #E8E4E4;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#output-container {
    background: #E5E4E2;
    border-radius: 10px;
    width: 45%;
    padding: 5px;
    float: left;
}

.header {
    display: flex;
    align-items: center; /* Poravnanje elemenata po vertikali */
    justify-content: space-between; /* Poravnanje elemenata po horizontali */
    margin: 15px;
}

.output-tag {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center; /* Poravnanje elemenata po vrhu */
    justify-content: space-between; /* Poravnanje na kraju reda */
    gap: 10px; /* Razmak između elemenata */
}

#input-tags {
    background: #E5E4E2;
    border-radius: 10px;
    width: 45%;
    padding: 5px;
    float: right;
}

#input-tag {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.tag-description {
    display: flex;
    flex-direction: column;
}

.description 
{
    font-size: 12px;
    float: left;
}

.value
{
    font-size:35px;
}

.edit-delete-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Poravnanje na desno */
    gap: 5px; /* Razmak između ikonica */
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s;
}

.icon:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}




/* Stil za prekidač */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: #ccc;
    border-radius: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: black;
    border-radius: 20px;
    transition: transform 0.3s; /* Koristimo transform umesto left */
}

.toggle-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 50%;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

    .toggle-text.digital {
        left: 0;
    }

    .toggle-text.analog {
        right: 0;
    }

.toggle-switch.on .toggle-slider {
    transform: translateX(100%); /* Pomeranje za 100% širine roditelja */
}


